@import "assets/styles/helpers/variables";
@import "assets/styles/helpers/mixins";

.edit {
  background-color: $color-secondary;
  border-radius: 15px;
  height: 50%;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: scroll;
  padding: 2.5rem 3rem;
  width: 65%;

  @include breakpoint-max($bp-screen-xxl) {
    width: 80%;
  }

  @include breakpoint-max($bp-screen-lg) {
    width: calc(100% - 3rem - 3rem);
  }

  @include breakpoint-max($bp-screen-md) {
    padding-left: 1.5rem;
    width: calc(100% - 1.5rem - 3rem);
  }

  p,
  input {
    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.45rem;
    }
  }
}

.topWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.back {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
}

.wrapper {
  margin: 1.5rem 0 3rem;
  padding-right: 8rem;

  + button {
    display: block;
    margin: 0 auto;
    padding: 1rem 2rem;
    width: fit-content;

    &:disabled {
      color: $color-secondary;
    }
  }
}

.buttonRow {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
