@import "assets/styles/helpers/variables";
@import "assets/styles/helpers/mixins";

.searchWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.headerWrapper {
  padding: 0 2.5rem;
  width: calc(100% - 2.5rem - 2.5rem);
}

.contentWrapper {
  height: 62%;
  overflow: hidden;
  overflow-y: scroll;

  p {
    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.45rem;
    }
  }
}
