@import "assets/styles/helpers/variables";
@import "assets/styles/helpers/mixins";

.certificateWrapper {
  border: 6px solid $color-highlight;
  margin-bottom: 2rem;
  padding: 2rem 3.5rem 3rem;
  position: relative;

  svg {
    position: absolute;
    z-index: 9999;

    &:nth-child(1) {
      left: -6px;
      top: -6px;
    }

    &:nth-child(2) {
      right: -6px;
      top: -6px;
    }

    &:nth-child(3) {
      bottom: -6px;
      left: -6px;
    }

    &:nth-child(4) {
      bottom: -6px;
      right: -6px;
    }
  }

  .top {
    align-items: center;
    display: flex;
    justify-content: space-between;

    > canvas {
      border: 4px solid $color-highlight;
      padding: 0.2rem;
    }

    > .imageWrapper {
      width: 45%;
    }
  }

  .bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;

    > p {
      line-height: 1.6;
      width: 55%;

      &:last-child {
        line-height: 2rem;
      }
    }

    .imageWrapper {
      height: 9rem;
      position: relative;
      width: 9rem;
    }
  }
}

.certificateInner {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 6rem;

  .left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    > div {
      p:last-child {
        font-size: 1.8rem;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 27rem;
    overflow: hidden;
    overflow-y: scroll;

    .imageWrapper {
      height: 5rem;
      position: relative;
      width: 100%;
    }
  }
}

.rowButton {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
