@import "src/assets/styles/utils/constants";
@import "src/assets/styles/utils/mixins";

.wrapper {
  margin-bottom: 1.6rem;
  max-width: $public-pages-max-width;
}

.item {
  align-items: center;
  background-color: $color-black-000;
  border-radius: 1.2rem;
  cursor: pointer;
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr .1fr;
  justify-content: space-between;
  padding: 1.2rem 3.2rem;
  &.active {
    border-radius: 1.2rem 1.2rem 0 0;
  }
  svg {
    justify-self: center;
  }
}

.icon {
  &.active {
    transform: rotate(180deg);
  }
}

.answer {
  background-color: $color-black-000;
  border-radius: 0 0 1.2rem 1.2rem;
  border-top: 1px solid $color-black-300;
  padding: .8rem 3.25rem 1.6rem;
}