@import "assets/styles/helpers/variables";
@import "assets/styles/helpers/mixins";

.auth {
  align-items: center;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  &__wrapper {
    align-items: center;
    display: flex;
    height: 70rem;
    margin: 0 auto;
    width: 90%;
  }

  .logo {
    align-items: center;
    background-color: $color-highlight;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 5rem;
    width: 45%;

    h2 {
      margin-top: 5rem;
      text-align: center;
    }
  }
}
