@import "src/assets/styles/utils/constants";
@import "src/assets/styles/utils/mixins";

.info {
  background-color: $color-black-000;
  border-radius: 0 0 1.2rem 1.2rem;
  border-top: 1px solid $color-black-200;
  padding: 2.4rem;
  @include breakpoint-max($bp-screen-sm) {
    p {
      font-size: 1.4rem;
    }
  }
}

.infoWrapper {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: 1fr 1fr;
  @include breakpoint-max($bp-screen-md){
    display: block;
  }
}

.block {
  margin-bottom: 2.4rem;
}

.blockItem {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1.2rem;
  &:last-child {
    margin-bottom: 0;
  }
}