@import "../../../assets/styles/helpers/variables";
@import "../../../assets/styles/helpers/mixins";

.container {
  position: relative;

  svg {
    cursor: pointer;
    position: absolute;
    right: 2.2rem;
    top: calc(50% - 0.6rem);
    transform: translateY(-50%);
    z-index: 999;
  }
}

.checkboxContainer {
  align-items: center;
  display: flex;
  gap: 1.2rem;
}

.input {
  border: 2px solid #eaedee;
  border-radius: 1rem;
  color: $color-primary;
  font-family: $font-primary;
  font-size: 1.6rem;
  letter-spacing: 0.028em;
  padding: 1.5rem 2.5rem;

  &:focus {
    border: 2px solid $color-highlight;
  }

  &::placeholder {
    color: #96999c;
  }
}

.error {
  border: 2px solid $color-error;
}

.checkbox {
  appearance: none;
  border: 1px solid $color-highlight;
  border-radius: 0.2rem;
  cursor: pointer;
  height: 1.8rem;
  transition: background-color 0.2s ease-in-out;
  width: 1.8rem;

  //&:hover {
  //  background-color: $color-highlight;
  //  background-image: url("../../../assets/images/checkbox-white.svg");
  //  background-position: center;
  //  background-repeat: no-repeat;
  //  background-size: 1.2rem;
  //  border: 1px solid $color-highlight;
  //}

  &:focus {
    border: 1px solid $color-highlight-dark;
  }

  &:checked {
    background-color: $color-secondary;
    background-image: url("../../../assets/images/checkbox.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.2rem;
    border: 1px solid $color-highlight;
  }
}
