@import "assets/styles/helpers/variables";
@import "assets/styles/helpers/mixins";
@import "assets/styles/vendor/pin";
@import "auth";
@import "dashboard";
@import "main";
@import "withdraw";
@import "payment";

.container {
  margin: 0 auto;
  padding: 0 1.5rem;

  @include breakpoint-min($screen-sm) {
    max-width: 540px;
  }

  @include breakpoint-min($screen-md) {
    max-width: 720px;
  }

  @include breakpoint-min($screen-lg) {
    max-width: 960px;
  }

  @include breakpoint-min($screen-xl) {
    max-width: 1140px;
  }

  @include breakpoint-min($screen-xxl) {
    max-width: 1320px;
  }

  &.authenticate {
    @include breakpoint-max($bp-screen-lg) {
      margin: 0;
      max-width: 100%;
      padding: 0;
      width: 100%;
    }
  }
}

.content__wrapper {
  height: 65%;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: 6rem;

  @include breakpoint-max-vertical($bp-vertical-875) {
    height: 50%;
  }

  @include breakpoint-max-vertical($bp-vertical-570) {
    height: 40%;
  }

  @include breakpoint-max-vertical($bp-vertical-400) {
    padding-top: 2rem;
  }

  p {
    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.45rem;
    }

    @include breakpoint-max($bp-screen-sm) {
      font-size: 1.35rem;
    }
  }
}
