@import "assets/styles/helpers/variables";
@import "assets/styles/helpers/mixins";

.dashboard {
  background-color: $color-additional-medium;
  height: calc(100vh - #{$topbar-height-initial} - 7rem);
  padding: 7rem 11rem 0 calc(11rem + #{$sidebar-width-initial});

  @include breakpoint-max($bp-screen-xxl) {
    padding: 7rem 7rem 0 calc(7rem + #{$sidebar-width-xxl});
  }

  @include breakpoint-max($bp-screen-xl) {
    padding: 7rem 3rem 0 calc(3rem + #{$sidebar-width-xxl});
  }

  @include breakpoint-max($bp-screen-lg) {
    height: calc(100vh - #{$topbar-height-lg} - 7rem);
    padding: 7rem 3.5rem 0;
  }

  @include breakpoint-max($bp-screen-md) {
    padding: 7rem 2.5rem 0;
  }

  @include breakpoint-max-vertical($bp-vertical-875) {
    height: calc(100vh - #{$topbar-height-lg} - 2rem);
    padding-top: 2rem;
  }

  > h1 {
    @include breakpoint-max-vertical($bp-vertical-680) {
      font-size: 3.5rem;
    }

    @include breakpoint-max-vertical($bp-vertical-400) {
      font-size: 3rem;
    }
  }

  > p {
    margin-bottom: 3.5rem;

    @include breakpoint-max-vertical($bp-vertical-680) {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    @include breakpoint-max-vertical($bp-vertical-400) {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }
}
