@import "assets/styles/helpers/variables";
@import "assets/styles/helpers/mixins";

.payment {
  &__wrapper {
    align-items: center;
    background-color: $color-additional-medium;
    display: flex;
    flex-direction: column;
    height: calc(100vh - #{$topbar-height-initial});
    justify-content: center;

    @include breakpoint-max($bp-screen-lg) {
      height: calc(100vh - #{$topbar-height-lg});
    }

    @include breakpoint-max($bp-screen-sm) {
      height: initial;
      padding: calc(#{$topbar-height-initial} + 4rem) 0 2rem 0;
    }

    > span {
      margin-bottom: 2rem !important;
    }

    > h2 {
      margin-bottom: 1rem;
      text-align: center;
      @include breakpoint-max($bp-screen-sm) {
        font-size: 3rem;
      }
    }

    > p {
      margin-bottom: 3rem;
      text-align: center;
      width: 60%;
    }

    button:last-child {
      @include breakpoint-max($bp-screen-sm) {
        width: fit-content;
        padding: 1.2rem 3.2rem;
      }
    }
  }
}

.credentials__mini {
  align-items: center;
  background-color: $color-secondary;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  box-shadow: 0 4px 34px rgb(0 0 0 / 15%);
  display: flex;
  justify-content: space-between;
  margin: 2.5rem auto 6rem;
  padding: 2.5rem;
  width: 45%;

  @include breakpoint-max($bp-screen-md) {
    width: calc(100% - 2.5rem - 2.5rem);
  }

  svg {
    height: 4.5rem;
    width: 4.5rem;

    path {
      stroke: $color-primary;
    }
  }

  &--item {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  + p {
    + p {
      position: relative;
      width: 15%;

      &::before,
      &::after {
        background-color: $color-primary-light;
        content: "";
        height: 0.5px;
        left: 2.5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2.5rem;
        z-index: 999;
      }

      &::after {
        left: initial;
        right: 2.5rem;
      }
    }
  }
}
