$color-highlight:#0880ce;
$color-highlight-dark:#05558a;
$color-primary:#262626;
$color-primary-light:#737373;
$color-secondary:#fff;
$color-additional:#a3a3a3;
$color-additional-medium-dark:#d4d4d4;
$color-additional-medium:#e5e5e5;
$color-additional-light:#f5f5f5;
$color-error:#ef4444;
$color-success:#16a34a;
$color-pending:#ea580c;

$font-primary:"Montserrat", sans-serif;

$font-weight-xl:700;
$font-weight-lg:600;
$font-weight-md:500;
$font-weight-sm:400;

$sidebar-width-initial:22rem;
$sidebar-width-xxl:20rem;

$topbar-height-initial:7rem;
$topbar-height-lg:7.5rem;

$screen-xxl:1400px;
$screen-xl:1200px;
$screen-lg:992px;
$screen-md:768px;
$screen-sm:576px;

$bp-screen-xxl:1399px;
$bp-screen-xl:1199px;
$bp-screen-lg:991px;
$bp-screen-md:767px;
$bp-screen-sm:575px;
$bp-screen-xs:410px;
$bp-screen-xxs:350px;

$bp-vertical-930:930px;
$bp-vertical-875:875px;
$bp-vertical-680:680px;
$bp-vertical-570:570px;
$bp-vertical-400:400px;
