@import "assets/styles/helpers/variables";
@import "assets/styles/helpers/mixins";

.wrapper {
  position: relative;
}

.infoItem {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  padding-top: 1.5rem;

  @include breakpoint-max($bp-screen-md) {
    grid-template-columns: 1fr 1fr;
  }

  > p {
    padding-right: 2rem;
    color: $color-primary-light;
  }

  > input {
    border: none;
    border-bottom: 1px solid $color-additional-medium;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    width: 90%;

    &:focus {
      border: none;
      border-bottom: 1px solid $color-highlight;
    }

    &::placeholder {
      color: $color-primary;
    }
    
    &:disabled {
      color: $color-additional;
      border: none;
      border-bottom: 1px solid $color-additional-medium;
    }
  }
}
