@import "../../../assets/styles/helpers/variables";
@import "../../../assets/styles/helpers/mixins";

.darken {
  background-color: rgba($color-primary, 0.4);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.sidebar {
  background-color: $color-highlight;
  border-bottom-right-radius: 2rem 2rem;
  border-top-right-radius: 2rem 2rem;
  color: $color-secondary;
  height: 100vh;
  padding: 4rem 0 8rem;
  position: fixed;
  width: $sidebar-width-initial;
  z-index: 999;

  &.active {
    transform: translateX(0);
  }

  @include breakpoint-max($bp-screen-xxl) {
    width: $sidebar-width-xxl;
  }

  @include breakpoint-max($bp-screen-lg) {
    padding-top: 2.3rem;
    transform: translateX(-100%);
    transition: transform 0.15s linear;
    width: $sidebar-width-initial;
  }

  p {
    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.45rem;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 4rem - 1.5rem);
  justify-content: space-between;

  @include breakpoint-max-vertical($bp-vertical-400) {
    overflow-y: scroll;
  }
}

.top {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  height: 113px;
  margin-bottom: 4rem;
  position: relative;
  width: 165px;

  @include breakpoint-max($bp-screen-lg) {
    display: none;
  }
}

.hr {
  background-color: $color-additional-light;
  border: none;
  height: 1px;
  mix-blend-mode: soft-light;
  opacity: 0.4;
  width: calc(#{$sidebar-width-initial - 4rem});
}

.menu {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  padding-top: 2.4rem;
  width: 100%;
}

.bottom {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.helpers {
  padding-top: 2rem;
  width: 100%;

  a p {
    display: grid;
    //width: 100%;
    grid-template-columns: .2fr 1fr;
    padding: 1.5rem 0;
  }

  p:last-child {
    display: grid;
    grid-template-columns: .2fr 1fr;
    padding: 1.5rem 0;
  }
}

.activeRow {
  width: calc(100% - 2.5rem - 2.5rem);
  padding: 0 2.5rem;
  &.active {
    background-color: $color-highlight-dark;
  }
}
