@import "src/assets/styles/utils/constants";
@import "src/assets/styles/utils/mixins";

$uniLogoW: 196px;
$uniLogoH: 64px;

.label {
  @include text-label();
  cursor: pointer;
  display: block;
  padding-left: 2.6rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include breakpoint-max($bp-screen-md) {
    display: none;
  }

  > input {
    cursor: pointer;
    display: none;
    height: 0;
    position: absolute;
    width: 0;
    &:checked ~ .checkmark {
      background-color: $color-brand-blue-v2-4;
      &:after {
        display: block;
      }
    }
  }

  .checkmark:after {
    border: solid white;
    border-width: 0 .2rem .2rem 0;
    height: .9rem;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: .4rem;
  }

  &.disabled {
    pointer-events: none;
    > span {
      background-color: $color-black-200;
      border: 1px solid $color-black-300;
    }
  }
}

.checkmark {
  background-color: transparent;
  border: 1px solid $color-brand-blue-v2-4;
  border-radius: .4rem;
  height: 1.6rem;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.2s ease-in-out;
  width: 1.6rem;
  &:after {
    content: "";
    display: none;
    position: absolute;
  }
  &:hover {
    background-color: $color-black-300;
  }
}

.logoWrapper {
  height: calc(100% - 5rem);
  align-self: center;
  position: relative;
  padding: calc(2.4rem + .1rem) 0;

  @include breakpoint-max($bp-screen-md) {
    display: none;
  }
}

.uniLogo {
  border: 1px solid $color-black-200;
  border-radius: 1.2rem;
  height: calc($uniLogoH - 1.6rem);
  padding: .8rem 2.4rem;
  max-width: calc($uniLogoW - 4.8rem);

  > p {
    &:last-child {
      @include qualificationTitles();
    }
  }

  &__wrapper {
    height: 100%;
    position: relative;
    width: 100%;
  }
}

.qualificationWrapper {
  margin-bottom: 1.6rem;

  &.moreThanOne {
    &:not(:first-child) {
      .item,
      .status,
      .date,
      .actions,
      .uniLogo, {
        p:last-child {
          display: none;
        }
      }
    }
  }
}

.qualification {
  padding: 0 2.4rem;
  border-radius: 1.5rem;
  background-color: $color-black-000;
  display: grid;
  grid-template-columns: .1fr .8fr 1fr .5fr .5fr;
  gap: 1.2rem;

  @include breakpoint-max($bp-screen-lg) {
    grid-template-columns: .1fr .8fr 1fr .2fr .5fr;
  }

  @include breakpoint-max($bp-screen-md) {
    padding: 0 1.2rem;
    grid-template-columns: 1fr .2fr .3fr;
  }

  &.active {
    border-radius: 1.5rem 1.5rem 0 0;
  }

  @include breakpoint-max($bp-screen-lg) {
    div.item:nth-child(4) {
      p:not(:last-child) {
        display: none;
      }
    }
  }

  @include breakpoint-max($bp-screen-sm) {
    div.item {
      p:not(:last-child) {
        font-size: 1.4rem;
      }
      &:nth-child(3) {
        padding: 1.2rem 0;
        svg {
          width: 3.5rem;
        }
      }
      &:nth-child(4) {
        padding: 1.2rem 0;
      }
    }
  }
}

.item {
  padding: 2.4rem 0;
  display: grid;
  grid-template-columns: 0fr 1fr;
  align-items: center;
  gap: .8rem;
  position: relative;
  > p {
    &:last-child {
      @include qualificationTitles();
    }
  }
}

.actions {
  position: relative;
  padding: 1.2rem 0 1.2rem 2.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-left: 1px solid $color-black-200;
  align-items: center;
  gap: 2.4rem;

  @include breakpoint-max($bp-screen-md) {
    padding-left: 1.2rem;
    gap: 1.6rem;
  }

  @include breakpoint-max($bp-screen-sm) {
    > div:nth-child(1) {
      display: none;
    }
  }

  svg {
    cursor: pointer;
    @include breakpoint-max($bp-screen-sm) {
      width: 2.5rem;
    }

  }
  > p:last-child {
    @include qualificationTitles();
    left: 2.4rem;
  }

  &.active {
    div:nth-child(3) svg {
      transform: rotate(180deg);
    }
  }

  &.disabled {
    > div:first-child {
      svg {
        pointer-events: none;
        path {
          stroke: $color-black-200;
        }
      }
    }
  }
}