@import "assets/styles/helpers/variables";
@import "assets/styles/helpers/mixins";

.wrapper {
  background-color: $color-secondary;
  border-radius: 12px;
  margin-top: 3rem;
  padding: 3rem 4rem 7rem;
}

.image {
  background-color: $color-additional-medium;
  height: 27rem;
  margin-bottom: 2rem;
  position: relative;
  width: 100%;

  @include breakpoint-max($bp-screen-md) {
    display: none;
  }
}

.text {
  left: 50%;
  letter-spacing: 0.028em;
  position: absolute;
  top: 9rem;
  transform: translateX(-50%);
  z-index: 99;

  p {
    text-align: center;

    &:last-child {
      font-size: 2.5rem;
    }
  }
}

.content {
  align-items: center;
  display: flex;
  gap: 5rem;
  justify-content: center;

  @include breakpoint-max($bp-screen-xl) {
    gap: 2rem;
  }

  @include breakpoint-max($bp-screen-md) {
    flex-direction: column;
  }
}

.left {
  align-items: center;
  display: flex;
  gap: 2rem;
  margin-top: -12.5rem;

  @include breakpoint-max($bp-screen-md) {
    margin-top: 0;
  }
}

.leftItem {
  align-items: center;
  display: flex;
  flex-direction: column;

  > p {
    text-align: center;

    &:nth-child(2) {
      font-size: 1.8rem;
    }
  }

  > a:last-child {
    margin-top: 1rem;
  }
}

.imageWrapper {
  height: 12rem;
  margin-bottom: 1rem;
  position: relative;
  width: 12rem;

  img {
    border-radius: 50% !important;
  }
}

.right {
  width: 50%;

  > p {
    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.45rem;
    }

    &:first-child {
      margin-bottom: 2.5rem;
    }
  }

  > button {
    display: block;
    font-size: 1.65rem;
    margin: 2.5rem auto 0;
    padding: 1rem 2rem;
    width: fit-content;
  }

  @include breakpoint-max($bp-screen-md) {
    width: 100%;
  }
}

.buttonRow {
  align-items: center;
  display: flex;
  gap: 1rem;

  svg {
    path {
      stroke: $color-secondary;
    }
  }
}
