@import "assets/styles/helpers/variables";
@import "assets/styles/helpers/mixins";

.wrapper {
  background-color: $color-secondary;
  border-radius: 12px;
  margin-top: 3rem;
  padding: 3.2rem;
}

.imageWrapper1 {
  height: 9rem;
  width: 12.1rem;
  position: absolute;
  @include breakpoint-max($bp-screen-md) {
    display: none;
  }
}

.image {
  background-color: $color-additional-medium;
  height: 27rem;
  margin-bottom: 2.4rem;
  position: relative;
  width: 100%;

  @include breakpoint-max($bp-screen-md) {
    display: none;
  }

  > svg {
    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
  }
}

.text {
  left: 50%;
  letter-spacing: 0.028em;
  position: absolute;
  top: 9rem;
  transform: translateX(-50%);
  z-index: 99;

  p {
    text-align: center;

    &:last-child {
      font-size: 2.5rem;
    }
  }
}

.content {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include breakpoint-max($bp-screen-xl) {
    gap: 2rem;
  }

  @include breakpoint-max($bp-screen-md) {
    flex-direction: column;
  }
}

.left {
  align-items: center;
  display: flex;
  gap: 2rem;
  margin: -12.5rem auto 0 auto;

  @include breakpoint-max($bp-screen-md) {
    margin-top: 0;
  }
}

.leftItem {
  align-items: center;
  display: flex;
  flex-direction: column;

  > p {
    text-align: center;

    &:nth-child(2) {
      font-size: 1.8rem;
    }
  }

  > a:last-child {
    margin-top: 1rem;
  }
}

.imageWrapper {
  height: 12rem;
  margin-bottom: 1rem;
  position: relative;
  width: 12rem;
  @include breakpoint-max($bp-screen-sm) {
    width: 7rem;
    height: 7rem;
  }

  img {
    border-radius: 50% !important;
  }
}

.right {
  width: 45%;

  > p {
    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.45rem;
    }

    &:first-child {
      margin-bottom: 2.4rem;
    }
  }

  > button {
    display: block;
    font-size: 1.65rem;
    margin: 3.2rem 0 0;
    padding: 1.2rem 3.2rem;
    width: fit-content;
  }

  @include breakpoint-max($bp-screen-md) {
    width: 100%;
  }
}

.buttonRow {
  align-items: center;
  display: flex;
  gap: 1rem;

  svg {
    path {
      stroke: $color-secondary;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  + p {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.imageWrapperSmall {
  height: 10rem;
  position: relative;
  width: 10rem;

  img {
    border-radius: 50% !important;
  }
}

.story {
  > p {
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  + button {
    margin: 3.2rem auto 0 auto;
    width: fit-content;
    padding: 1.2rem 3.2rem;
    display: block;
    svg {
      transform: rotate(180deg);
    }
  }
}

.wrapperLeft {
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: center;
  @include breakpoint-max($bp-screen-sm) {
    gap: 1rem;
  }
}