@import "../../../assets/styles/helpers/variables";
@import "../../../assets/styles/helpers/mixins";

.modal {
  background-color: rgba($color-primary, 0.4);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.wrapper {
  background-color: $color-secondary;
  border: 2px solid $color-additional-light;
  border-radius: 15px;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;

  @include breakpoint-max($bp-screen-xxl) {
    width: 65%;
  }

  @include breakpoint-max($bp-screen-xl) {
    width: 70%;
  }

  @include breakpoint-max($bp-screen-lg) {
    width: 95%;
  }

  &Inner {
    padding: 6rem 5rem 0;

    &.confirmUpload {
      padding-bottom: 6rem;

      @include breakpoint-max($bp-screen-xxs) {
        padding-bottom: 1rem;
      }

      button {
        align-items: center;
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin: 4rem auto 0;
        padding: 1.2rem 2rem;
        width: fit-content;
      }
    }

    &.confirmWithdraw {
      button {
        margin-top: 1rem;

        &:last-child {
          margin-top: 1rem;
        }
      }
    }

    > button:last-child {
      width: fit-content;
      align-items: center;
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin: 4rem auto 0;
      padding: 1.4rem 2rem;
      @include breakpoint-max($bp-screen-sm) {
        font-size: 1.45rem;
        margin-top: 1.5rem;
      }
      > span{
        @include breakpoint-max($bp-screen-sm) {
          font-size: 1.45rem;
        }
      }
    }

    &.payment {
      padding: 4rem 6rem;
      > h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      > p {
        margin-bottom: 5rem;
      }
    }
  }

  &.viewCertificate {
    height: 100vh;
    overflow-y: scroll;
    @include breakpoint-max($bp-screen-lg) {
      width: 95%;
    }
  }
}

.close {
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.top {
  h2 {
    margin-bottom: 2.5rem;
    text-align: center;

    @include breakpoint-max($bp-screen-md) {
      font-size: 3.5rem;
    }

    + p {
      margin-bottom: 2.5rem;
      text-align: center !important;
    }
  }

  &.confirmUpload {
    h2 {
      margin-bottom: 1.5rem;

      + p {
        margin-bottom: 1.5rem;

        //+ button {
        //  margin-top: 2rem;
        //  padding: 1rem 1.2rem;
        //}
      }
    }

    &.stepTwo {
      h2 {
        + p {
          + button {
            background-color: transparent;
            color: $color-primary;

            svg path {
              stroke: $color-primary;
            }
          }
        }
      }
    }
  }

  input,
  input + label {
    margin: 0 auto 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
    padding: 1.2rem 0;

    @include breakpoint-max($bp-screen-md) {
      width: 80%;
    }

    @include breakpoint-max($bp-screen-sm) {
      width: 100%;
    }

    + p {
      left: 50%;
      position: absolute;
      top: 2rem;
      transform: translateX(-50%);
      z-index: 999;
    }
    > p {
      @include breakpoint-max($bp-screen-sm) {
        font-size: 1.45rem;
      }
    }
  }
}

.middle {
  border: 1px solid $color-additional-medium;
  border-radius: 1.5rem;
  height: 55%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 2rem 4rem;
  @include breakpoint-max($bp-screen-md) {
    padding: 1rem 1.5rem;
  }
  @include breakpoint-max($bp-screen-sm) {
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
  }
  span, input, p {
    @include breakpoint-max($bp-screen-md) {
      font-size: 1.45rem;
    }
  }
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  svg {
    display: block !important;
  }
  input {
    @include breakpoint-max($bp-screen-md) {
      padding: 1rem 0;
    }
  }

  &.confirmUpload {
    gap: 1rem;
    margin-bottom: 0;
  }

  &.massUpload {
    @include breakpoint-max($bp-screen-sm) {
      flex-direction: column;
    }
  }
}

.stepWrapper {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  @include breakpoint-max($bp-screen-sm) {
    flex-direction: column;
  }

  button {
    border: 1px solid transparent;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 20rem !important;

    p, span {
      @include breakpoint-max($bp-screen-md) {
        font-size: 1.45rem;
      }
    }

    &:last-child {
      background-color: transparent;
      border: 1px solid $color-error;
      color: $color-error;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

      svg path {
        stroke: $color-error;
        transition: stoke 0.2s ease-in-out;
      }
    }
  }

  &.approved {
    button {
      flex: 1 1 0px;
    }
    button:last-child {
      background-color: transparent;
      border: 1px solid $color-highlight;
      color: $color-highlight;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

      svg path {
        stroke: $color-highlight;
        transition: stoke 0.2s ease-in-out;
      }
    }
  }

  &.request {
    button {
      width: fit-content !important;
      @include breakpoint-max($bp-screen-sm) {
        width: 90% !important;
      }
    }
  }
}

.credentials {
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  box-shadow: 0 4px 34px rgb(0 0 0 / 15%);
  display: flex;
  justify-content: space-between;
  margin: 2.5rem auto;
  padding: 2.5rem;
  width: calc(70% - 2.5rem - 2.5rem);

  @include breakpoint-max($bp-screen-md) {
    width: calc(100% - 2.5rem - 2.5rem);
  }

  svg {
    height: 4.5rem;
    width: 4.5rem;

    path {
      stroke: $color-primary;
    }
  }
}

.credsItem {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.viewCertificate {
  > h2 {
    margin-bottom: 4rem;
  }
}

.certificateWrapper {
  margin-bottom: 2rem;
  padding: 2rem 3.5rem 3rem 3.5rem;
  border: 6px solid $color-highlight;
  position: relative;
  svg {
    position: absolute;
    z-index: 9999;
    &:nth-child(1) {
      top: -6px;
      left: -6px;
    }
    &:nth-child(2) {
      top: -6px;
      right: -6px;
    }
    &:nth-child(3) {
      bottom: -6px;
      left: -6px;
    }
    &:nth-child(4) {
      bottom: -6px;
      right: -6px;
    }
  }
  .imageWrapper {
    margin: 0 auto;
    width: 45%;
  }
  .bottom {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    > p {
      width: 55%;
      line-height: 1.6;
    }
  }
}

.certificateInner {
  margin: 4rem 0 10rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .right {
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.rowButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  > p:last-child {
    font-size: 3rem;
  };
  + form {
    > button:last-child {
      display: flex;
      margin: 4rem auto 0;
      justify-content: center;
    }
  }
}

.paymentInput {
  > p {
    margin-bottom: .5rem;
  }
  > input {
    padding: 1.5rem 3rem;
    width: calc(100% - 3rem - 3rem - 2px);
    margin: 0 auto 2rem;
    border: 1px solid $color-primary-light;
    &:focus {
      border: 1px solid $color-highlight;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance:textfield;
    }
  }
}

.paymentInputRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  > div {
    flex: 1 1 50%;
  }
}
