@import "../../../assets/styles/helpers/variables";
@import "../../../assets/styles/helpers/mixins";

.text {
  font-size: 1.6rem;

  span {
    color: $color-highlight-dark;
  }
}

.blue {
  color: $color-highlight-dark;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.grey {
  color: $color-additional;
}

.white {
  color: $color-secondary;
}

.medium {
  font-size: 1.4rem;
}

.small {
  font-size: 1.2rem;
}

.underline {
  text-decoration: underline;
}

.error {
  color: $color-error;
  text-align: left !important;
}

.success {
  color: $color-success;
}

.link {
  transition: color 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: $color-highlight-dark;
  }
}

.bold {
  font-weight: $font-weight-lg;
}

.sidebar {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1.2rem 0;
  transition: background-color 0.2s ease-in-out;
  width: 100%;

  svg {
    height: 4rem;
    stroke: $color-additional-medium;
    width: 4rem;
  }

  span {
    color: $color-additional-medium;
  }
}

.sidebarMin {
  justify-content: flex-start;
  margin-bottom: 2.4rem;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }

  span {
    color: $color-secondary;
  }

  svg {
    height: 3rem;
    width: 3rem;
  }
}

.active {
  background-color: $color-highlight-dark;

  span {
    color: $color-secondary;
  }

  svg {
    stroke: $color-secondary;
  }
}

.modal {
  font-size: 2.3rem;
}
