@import "../../../assets/styles/helpers/variables";
@import "../../../assets/styles/helpers/mixins";

.text {
  font-size: 1.6rem;

  span {
    color: $color-highlight-dark;
  }
}

.blue {
  color: $color-highlight-dark;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.grey {
  color: $color-additional;
}

.medium {
  font-size: 1.4rem;
}

.small {
  font-size: 1.2rem;
}

.underline {
  text-decoration: underline;
}

.error {
  color: $color-error;
  text-align: left !important;
}

.link {
  transition: color 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: $color-highlight-dark;
  }
}

.bold {
  font-weight: $font-weight-lg;
}

.sidebar {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  padding: 1rem 0 1rem 2rem;
  transition: background-color 0.2s ease-in-out;

  svg {
    height: 5.5rem;
    stroke: $color-secondary;
    width: 5.5rem;
  }

  span {
    color: $color-secondary;
  }
}

.sidebarMin {
  padding-left: 0;

  svg {
    height: 3rem;
    width: 3rem;
  }
}

.active {
  background-color: $color-highlight-dark;
}
