$color-primary:#000;
$color-secondary:#fff;
$color-highlight:#4a90d1;
$color-highlight-dark:#004996;
$color-error:#ff1744;

$screen-xxl:1400px;
$screen-xl:1200px;
$screen-lg:992px;
$screen-md:768px;
$screen-sm:576px;

$font-primary:"Montserrat", sans-serif;
$font-extra:"Poppins", sans-serif;

$font-weight-xl:700;
$font-weight-lg:600;
$font-weight-md:500;
$font-weight-sm:400;
