@import "../../../../assets/styles/helpers/variables";
@import "../../../../assets/styles/helpers/mixins";

.wrapper {
  align-items: center;
  display: flex;
  gap: 2rem;

  svg {
    cursor: pointer;

    path {
      stroke: $color-primary;
    }
  }
}

.dropdown {
  position: relative;
  width: 25rem;
}

.button {
  align-items: center;
  background-color: $color-secondary;
  border: 1px solid $color-primary-light;
  border-radius: 1.2rem;
  display: flex;
  font-family: $font-primary;
  font-weight: $font-weight-sm;
  justify-content: space-between;
  outline: none;
  padding: 1rem 1.6rem;
  width: 100%;
}

.content {
  background-color: $color-secondary;
  border: 1px solid $color-primary-light;
  border-bottom: none;
  border-top: none;
  height: 25rem;
  left: 0;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: 1.5rem;
  position: absolute;
  top: 3rem;
  width: calc(100% - 2px);
  z-index: 99;

  li {
    cursor: pointer;
    padding: 0.4rem 1rem;
    transition: background-color 0.2s ease-in-out;

    &:last-child {
      border-bottom: 1px solid $color-primary-light;
    }

    &:hover {
      background-color: $color-additional-light;
    }

    span {
      color: $color-error;
    }
  }
}
