@import "src/assets/styles/utils/constants";
@import "src/assets/styles/utils/mixins";

.item {
  padding: 1.6rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color-black-300;
}

.buttons {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}