@import "../../assets/styles/helpers/variables";
@import "../../assets/styles/helpers/mixins";

.activated {
  p {
    color: $color-success;
  }

  path {
    stroke: $color-success;
  }
}

.uploaded {
  p {
    color: $color-pending;
    cursor: pointer;
  }

  path {
    stroke: $color-pending;
  }

  &.student {
    justify-content: center;
    border: 1px solid $color-pending;
    border-radius: 15px;
    @include breakpoint-max($bp-screen-md) {
      border: none;
    }

    + div {
      > svg {
        &:first-child {
          pointer-events: none;

          path {
            stroke: $color-additional-medium;
          }
        }
      }
    }
  }
}

.expired {
  p {
    color: $color-additional-medium-dark;
  }

  path {
    stroke: $color-additional-medium-dark;
  }

  &.student {
    + div {
      > svg {
        &:first-child {
          pointer-events: none;

          path {
            stroke: $color-additional-medium;
          }
        }
      }

      > a {
        pointer-events: none;

        svg {
          path {
            stroke: $color-additional-medium;

            &:nth-child(3),
            &:nth-child(4) {
              fill: $color-additional-medium;
            }
          }
        }
      }
    }
  }
}

.withdrawn {
  p {
    color: $color-error;
  }

  path {
    stroke: $color-error;
  }

  &.student {
    + div {
      > svg {
        &:first-child {
          pointer-events: none;

          path {
            stroke: $color-additional-medium;
          }
        }
      }
    }
  }
}

.new {
  p {
    color: $color-highlight;
  }

  path {
    stroke: $color-highlight;
  }

  &.student {
    + div {
      > svg {
        &:first-child {
          pointer-events: none;

          path {
            stroke: $color-additional-medium;
          }
        }
      }
    }
  }

}

.activateCredentials {
  cursor: pointer;

  p {
    color: $color-pending;
  }

  path {
    stroke: $color-pending;
  }

  &.student {
    + div {
      > svg:first-child,
      > svg:last-child {
        pointer-events: none;

        path {
          stroke: $color-additional-medium;
        }

        &:last-child {
          path {
            fill: $color-additional-medium;
          }
        }
      }
    }
  }
}

.wrapper {
  background-color: $color-secondary;
  margin-bottom: 1.2rem;
  @include breakpoint-max($bp-screen-xs) {
    overflow-x: scroll;
  }

  &.student {
    @include breakpoint-max($bp-screen-xs) {
      overflow-x: initial;
    }
  }
}

.left,
.right {
  padding-bottom: 3.2rem;
  > p {
    margin: 2rem 0 2.5rem;
  }
}

.status {
  align-items: center;
  display: flex;
  gap: 0.8rem;

  > svg {
    @include breakpoint-max($bp-screen-sm) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  > p {
    text-transform: capitalize;
    @include breakpoint-max($bp-screen-md) {
      display: none;
    }
  }

  + p {
    @include breakpoint-max($bp-screen-sm) {
      display: none;
    }
  }

  &.viewStatus {
    + p {
      @include breakpoint-max($bp-screen-sm) {
        display: block;
      }
    }
  }

  &.student {
    margin-right: 2rem;
    svg {
      cursor: pointer;
      display: flex;
    }
  }
}

.iconWrapper {
  cursor: pointer;
  position: relative;

  &:hover {
    div {
      display: block;
    }
  }
}

.viewWrapper {
  margin-bottom: 2rem;

  p {
    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.45rem;
    }
  }
}

.credentialWrapper {
  align-items: center;
  background-color: $color-secondary;
  border: 1px solid $color-additional-medium;
  display: grid;
  grid-template-columns: 1.1fr 1.5fr 0.7fr 0.5fr 0.5fr;
  height: 9rem;
  justify-items: stretch;
  padding: 0 2rem;
  width: calc(100% - 2rem - 2rem);

  @include breakpoint-max($bp-screen-lg) {
    grid-template-columns: 0.9fr 1.5fr 0.7fr 0.5fr 0.5fr;
  }

  @include breakpoint-max($bp-screen-md) {
    grid-template-columns: 0.9fr 1.5fr 0.4fr 1.05fr 0.5fr;
  }
  @include breakpoint-max($bp-screen-sm) {
    height: 7rem;
    grid-template-columns: 0.9fr 1.5fr 0.4fr 0.5fr;
    padding: 0 1rem;
    width: calc(100% - 1rem - 1rem);
  }

  @include breakpoint-max($bp-screen-xs) {
    width: 45rem;
    overflow-x: scroll;
  }

  > span:first-child,
  > span:nth-child(2) {
    padding: 0 .6rem !important;
    @include breakpoint-max($bp-screen-xxl) {
      padding: 1rem .6rem;
    }
  }

  > *:not(:last-child) {
    padding: 1rem 0.6rem !important;
    @include breakpoint-max($bp-screen-sm) {
      padding: 0 0.5rem !important;
    }
  }

  > div:nth-child(3) {
    //margin-left: 4rem;
    @include breakpoint-max($bp-screen-xxl) {
      margin-left: 0;
    }
    @include breakpoint-max($bp-screen-md) {
      justify-self: center;
    }
  }

  > p:nth-child(4) {
    justify-self: center;
    text-align: center;
    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.35rem;
    }
  }

  &.student {
    grid-template-columns: 0.2fr 0.6fr 1.3fr 0.8fr 0.7fr;

    @include breakpoint-max($bp-screen-md) {
      grid-template-columns: 0.2fr 0.6fr 1.3fr 0.3fr 0.7fr;
    }

    @include breakpoint-max($bp-screen-sm) {
      grid-template-columns: 1.3fr 0.3fr 0.7fr;
    }

    @include breakpoint-max($bp-screen-xs) {
      width: initial;
      overflow-x: initial;
    }

    > div:first-child {
      padding-left: 0 !important;
      @include breakpoint-max($bp-screen-sm) {
        display: none;
      }
    }

    > *:not(:last-child) {
      padding: 1rem 2rem !important;
      @include breakpoint-max($bp-screen-sm) {
        padding: 0.5rem !important;
        margin: 0;
      }
      &.status {
        @include breakpoint-max($bp-screen-sm) {
          justify-self: center;
        }
      }
    }

    > div:nth-child(2) {
      padding-left: 3rem !important;
    }

    @include breakpoint-max($bp-screen-sm) {
      > span:nth-child(2) {
        display: none !important;
      }
    }
  }

  &.shared {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.itemWrapper {
  align-items: center;
  display: flex;
  gap: 1rem;
  height: 100%;
  position: relative;

  > span {
    @include breakpoint-max($bp-screen-md) {
      display: none !important;
    }
  }

  > svg {
    @include breakpoint-max($bp-screen-md) {
      display: none;
    }
  }

  .expired {
    p {
      color: $color-additional-medium;
    }
  }
}

.photo {
  border: 1px solid $color-additional-medium-dark !important;
  border-radius: 50%;
}

.actions {
  align-items: center;
  border-left: 1px solid $color-additional-medium;
  display: flex;
  gap: 2rem;
  height: 100%;
  justify-content: center;
  padding-left: 2rem;

  @include breakpoint-max($bp-screen-sm) {
    border-left: none;
    gap: 1.5rem;
    padding-left: 1rem;
  }

  > svg:first-child {
    @include breakpoint-max($bp-screen-sm) {
      display: none;
    }
  }

  > svg {
    display: flex;
  }

  > a {
    > svg {
      display: flex;
      @include breakpoint-max($bp-screen-xl) {
        height: 3.5rem;
        width: 3.5rem;
      }
    }
  }

  > svg {
    cursor: pointer;

    @include breakpoint-max($bp-screen-xl) {
      &:last-child {
        width: 2.4rem;
      }
    }
  }

  button:disabled {
    > div > p {
      color: $color-secondary;
    }
  }

  &.student {
    > .iconWrapper {
      > svg {
        height: 3.5rem;
        width: 3.5rem;

        @include breakpoint-max($bp-screen-md) {
          height: 3rem;
          width: 3rem;
        }

        path {
          stroke: $color-primary;
        }
      }
      &:last-child {
        svg {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }

    > .iconWrapper {
      > a svg {
        @include breakpoint-max($bp-screen-md) {
          height: 3rem;
          width: 3rem;
        }
      }
    }
  }

  > button {
    width: fit-content;
    padding: 1.2rem 3.2rem;
    margin-top: 0;
    color: $color-highlight;
    background-color: $color-secondary;
    border: 1px solid $color-highlight;

    &:hover,
    &:focus, {
      background-color: $color-secondary !important;
    }

    svg {
      path {
        stroke: $color-highlight;
      }
    }
  }

  p {
    @include breakpoint-max($bp-screen-sm) {
      display: none;
    }
  }

  &.shared {
    svg {
      width: 3.5rem;
      height: 3.5rem;
      @include breakpoint-max($bp-screen-md) {
        height: 3rem;
        width: 3rem;
      }

      path {
        stroke: $color-primary;
      }
    }

    > button {
      height: 5.6rem;
      background-color: $color-highlight;
      color: $color-secondary;
      svg {
        path {
          fill: $color-secondary;
        }
      }

      &:focus,
      &:hover {
        background-color: $color-highlight !important;
        color: $color-secondary !important;
        svg {
          path {
            fill: $color-secondary !important;
          }
        }
      }
    }
  }
}

.history {
  border: 1px solid $color-additional-medium;
  border-top: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 3rem;
  width: calc(100% - 3rem - 3rem);
  border-right: none;
  height: 100%;

  @include breakpoint-max($bp-screen-lg) {
    padding: 0 2rem;
    width: calc(100% - 2rem - 2rem);
  }

  @include breakpoint-max($bp-screen-md) {
    padding: 0 1rem;
    width: calc(100% - 1rem - 1rem);
  }

  @include breakpoint-max($bp-screen-sm) {
    grid-template-columns: 1fr 1fr;
  }

  &.student {
    @include breakpoint-max($bp-screen-sm) {
      width: 125%;
    }
  }
}

.historyWrapper {
  @include breakpoint-max($bp-screen-xs) {
    width: 47.4rem;
  }

  &.student {
    @include breakpoint-max($bp-screen-sm) {
      overflow: hidden;
      width: initial;
      overflow-x: scroll;
    }
  }
}

.left {
  padding-right: 3rem;

  @include breakpoint-max($bp-screen-md) {
    padding-right: 1.5rem;
  }
  @include breakpoint-max($bp-screen-sm) {
    width: 22rem;
  }
}

.historyItemWrapper {
  height: 25rem;
  overflow: hidden;
  overflow-y: scroll;
}

.right {
  border-left: 1px solid $color-additional-medium;
  padding: 0 3rem;

  @include breakpoint-max($bp-screen-md) {
    padding-left: 1.5rem;
  }
}

.rightWrapper {
  position: relative;
}

.viewName {
  svg {
    height: 4.8rem;
    width: 4.8rem;

    path {
      stroke: $color-primary;
    }
  }
}

.viewActions {
  border-left: none;

  > svg:first-child {
    @include breakpoint-max($bp-screen-sm) {
      display: block;
    }
  }
}

.viewCredentialWrapper {
  grid-template-columns: 1.1fr 1.5fr 0.7fr 1.05fr 0.3fr;

  &.student {
    grid-template-columns: 0.6fr 1.3fr 0.8fr 0.5fr;

    @include breakpoint-max($bp-screen-xl) {
      grid-template-columns: 0.6fr 1.3fr 0.8fr 1.1fr;
    }

    @include breakpoint-max($bp-screen-md) {
      grid-template-columns: 0.7fr 1.3fr 0.3fr 1.3fr;
    }

    @include breakpoint-max($bp-screen-sm) {
      grid-template-columns: 0.7fr 1.3fr 0.3fr 0.3fr;
    }

    @include breakpoint-max($bp-screen-xxs) {
      grid-template-columns: 1.3fr 0.3fr 0.3fr;
    }

    > span:nth-child(1) {
      @include breakpoint-max($bp-screen-xxs) {
        display: none !important;
      }
    }

    > div:nth-child(2) {
      justify-self: center;
    }

    > div:nth-child(3) {
      justify-self: center;
      @include breakpoint-max($bp-screen-xxl) {
        justify-self: self-start;
      }
    }
  }
}

.studentSchoolLogo {
  border: 1px solid $color-additional-light !important;
  border-radius: 15px;
}

.buttonRow {
  display: flex;
  align-items: center;
  gap: 1rem;

  &.shared {
    svg {
      width: initial;
      height: initial;

      path {
        stroke: $color-highlight;
        fill: $color-highlight;
      }
    }
  }
}

.loading {
  > svg {
    padding: 0.7rem 0;
    margin: 0 auto;
    fill: $color-pending;
  }
}

.titles {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1.1fr 1.5fr 0.7fr 1.05fr 0.3fr;
  > p {
    padding: 0 .6rem;
    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.2rem !important;
    }
  }
  @include breakpoint-max($bp-screen-lg) {
    grid-template-columns: 0.9fr 1.5fr 0.7fr 0.5fr 0.5fr;
  }

  @include breakpoint-max($bp-screen-md) {
    grid-template-columns: 0.9fr 1.5fr 0.4fr 1.05fr 0.5fr;
  }
  @include breakpoint-max($bp-screen-sm) {
    grid-template-columns: 0.9fr 1.5fr 0.4fr 0.5fr;
    padding: 0 1rem;
    width: calc(100% - 1rem - 1rem);
  }
  @include breakpoint-max($bp-screen-md) {
    display: none;
  }
  >p:nth-child(4) {
    justify-self: center;
  }
}

.titlesStudent {
  display: grid;
  padding: 0 2rem;
  width: calc(100% - 2rem - 2rem);
  grid-template-columns: 0.6fr 1.3fr 0.8fr 0.5fr;

  @include breakpoint-max($bp-screen-xl) {
    grid-template-columns: 0.6fr 1.3fr 0.8fr 1.1fr;
  }

  @include breakpoint-max($bp-screen-md) {
    display: none;
  }
  > p {

    &:not(:last-child) {
      padding: 0 2rem !important;
      @include breakpoint-max($bp-screen-xxs) {
        padding: 0 0.5rem !important;
      }
    }

    &:nth-child(2) {
      padding-left: 3rem !important;
    }
    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.2rem !important;
    }
  }
}

.titlesEmployer {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  padding: 0 2rem;
  width: calc(100% - 2rem - 2rem);
  > p {
    &:nth-child(1),
    &:nth-child(2) {
      padding: 0 0.6rem;
    }
    &:last-child {
      padding-left: 2rem;
    }
  }
}
