@import "../../assets/styles/helpers/variables";
@import "../../assets/styles/helpers/mixins";

.wrapper {
  margin-top: 3rem;

  > button {
    background-color: red;
  }
}

.top {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include breakpoint-max($bp-screen-lg) {
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }
}

.buttons {
  align-items: center;
  display: flex;
  gap: 1rem;

  @include breakpoint-max($bp-screen-lg) {
    //flex-grow: 1;
    flex: 1 1 0;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
  }

  > button {
    background-color: transparent;
    border: 1px solid $color-highlight;
    border-radius: 12px;
    color: $color-highlight;
    font-family: inherit;
    padding: 0.5rem 1.5rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover,
    &.active {
      background-color: $color-highlight;
      color: $color-secondary;
    }

    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.45rem;
    }
  }
}

.expand {
  align-items: center;
  border-left: 1px solid $color-additional-medium-dark;
  display: flex;
  gap: 2rem;
  padding-left: 2rem;

  @include breakpoint-max($bp-screen-lg) {
    align-self: flex-end;
  }

  > p {
    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.45rem;
    }
  }
}

.radio {
  appearance: none;
  background-color: $color-secondary;
  border: 1px solid $color-additional-medium-dark;
  border-radius: 50px;
  height: 3rem;
  margin: 0;
  outline: none;
  overflow: initial;
  padding: 0;
  position: relative;
  transition-duration: 200ms;
  width: 5rem;

  &::after {
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgb(0 0 0 / 20%);
    content: "";
    height: 26px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 26px;
  }

  &:checked {
    border-color: $color-highlight;
    box-shadow: inset 20px 0 0 0 $color-highlight;

    &::after {
      box-shadow: -2px 4px 3px rgb(0 0 0 / 5%);
      left: 2rem;
    }
  }
}

.content {
  margin-top: 2.5rem;
}

.contentWrapper {
  margin-bottom: 1.5rem;

  p {
    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.45rem;
    }
  }
}

.contentItem {
  align-items: center;
  background-color: $color-secondary;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  width: calc(100% - 3rem - 3rem);

  &:last-child {
    margin-bottom: 0;
  }

  svg {
    height: 1.8rem;
    width: 2.4rem;
  }
}

.contentInfo {
  background-color: $color-secondary;
  border-radius: 0 0 12px 12px;
  display: none;
  padding: 1.5rem 3rem 2rem;
}
