@import "../../../../assets/styles/helpers/variables";
@import "../../../../assets/styles/helpers/mixins";

.wrapper {
  display: flex;
  gap: 2.5rem;
  left: 50%;
  position: absolute;
  top: 1.6rem;
  transform: translateX(-50%);
}

.item {
  border: 1px solid $color-highlight;
  border-radius: 50%;
  height: 2.2rem;
  position: relative;
  width: 2.2rem;

  &::after {
    border-bottom: solid 1px $color-highlight;
    content: "";
    left: 2.2rem;
    position: absolute;
    top: 50%;
    width: 2.6rem;
    z-index: 1;
  }

  &:last-child::after {
    display: none;
  }

  &.active {
    background-color: $color-highlight;
  }
}
