@import "../../../assets/styles/helpers/variables";
@import "../../../assets/styles/helpers/mixins";

.topbar {
  align-items: center;
  background-color: $color-secondary;
  display: flex;
  height: calc(#{$topbar-height-xxl - 1.2rem - 1.2rem});
  justify-content: flex-end;
  padding: 1.2rem 6rem 1.2rem 0;
}
