@import "../../../../assets/styles/helpers/variables";
@import "../../../../assets/styles/helpers/mixins";

.wrapper {
  position: absolute;
  top: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2.5rem;
}

.item {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  border: 1px solid $color-highlight;
  position: relative;
  &:after {
    content: '';
    width: 2.6rem;
    border-bottom: solid 1px $color-highlight;
    position: absolute;
    left: 2.2rem;
    top: 50%;
    z-index: 1;
  }
  &:last-child:after {
    display: none;
  }
  &.active {
    background-color: $color-highlight;
  }
}