@import "assets/styles/helpers/variables";
@import "assets/styles/helpers/mixins";

.wrapper {
  align-items: center;
  border-bottom: 1px solid $color-additional-medium;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  padding: 2rem 1.5rem;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $color-additional-light;
  }
}

.left {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: 0.1fr 0.8fr;

  svg {
    height: 2.4rem;
    width: 2.4rem;

    rect {
      height: 2.4rem;
      width: 2.4rem;
    }
  }
}
