@import "assets/styles/helpers/variables";
@import "assets/styles/helpers/mixins";

.buttonRow {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.contentWrapper {
  //height: 58%;
  //overflow: hidden;
  //overflow-y: scroll;
  padding-top: 5rem;

  @include breakpoint-max($bp-screen-xxs) {
    padding-top: 6rem;
  }

  @include breakpoint-max-vertical($bp-vertical-680) {
    //height: 45%;
  }

  @include breakpoint-max-vertical($bp-vertical-570) {
    //height: 35%;
  }

  p {
    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.45rem;
    }

    @include breakpoint-max($bp-screen-xxs) {
      font-size: 1.2rem;
    }
  }
}

.searchShareWrapper {
  align-items: center;
  display: flex;
  gap: 1.6rem;
  justify-content: flex-end;
  margin-bottom: 1rem;

  @include breakpoint-max($bp-screen-sm) {
    flex-direction: column;
  }

  >* {
    @include breakpoint-max($bp-screen-sm) {
      width: 80% !important;
    }
  }

  >input {
    @include breakpoint-max($bp-screen-md) {
      font-size: 1.45rem;
    }
  }

  > button {
    margin-top: 0;
    padding: 1.2rem 3.2rem;
    width: fit-content;
    border-radius: 12px;

    @include breakpoint-max($bp-screen-sm) {
      display: none;
    }

    p {
      @include breakpoint-max($bp-screen-md) {
        font-size: 1.45rem;
      }
    }

    &:disabled {
      color: $color-secondary;
    }
  }
}

.titles {
  display: grid;
  justify-items: stretch;
  padding: 0 2rem;
  width: calc(100% - 2rem - 2rem);
  grid-template-columns: 0.2fr 0.6fr 1.3fr 0.8fr 0.7fr;
  @include breakpoint-max($bp-screen-md) {
    display: none;
  }
  > p {
    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.2rem !important;
    }
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  button {
    margin-top: 0;
    width: fit-content;
    padding: 1.2rem 3.2rem;
  }
}