@import "../../../../assets/styles/helpers/variables";
@import "../../../../assets/styles/helpers/mixins";

.modal {
  background-color: rgba($color-primary, 0.4);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.wrapper {
  background-color: $color-secondary;
  border: 2px solid $color-additional-light;
  border-radius: 15px;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  @include breakpoint-max($bp-screen-xxl) {
    width: 65%;
  }
  @include breakpoint-max($bp-screen-xl) {
    width: 70%;
  }
  @include breakpoint-max($bp-screen-lg) {
    width: 95%;
  }

  &Inner {
    padding: 6rem 5rem 0;

    button:last-child {
      align-items: center;
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin: 4rem auto 0;
      padding: 1.2rem 0;
      width: 23rem;
    }
  }
}

.close {
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.top {
  h2 {
    margin-bottom: 2.5rem;
    text-align: center;

    + p {
      margin-bottom: 2.5rem;
      text-align: center !important;
    }
  }

  input,
  input + label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto 4rem;
    width: 50%;

    + p {
      left: 50%;
      position: absolute;
      top: 2rem;
      transform: translateX(-50%);
      z-index: 999;
    }
  }
}

.middle {
  border: 1px solid $color-additional-medium;
  border-radius: 1.5rem;
  height: 55%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 2rem 4rem;
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
