@import "../../assets/styles/helpers/variables";
@import "../../assets/styles/helpers/mixins";

.detailsItem {
  height: 25rem;
  overflow: hidden;
  overflow-y: scroll;

  > div {
    margin-top: 1rem;
  }
}

.historyItem {
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 0.6fr 1fr 0.2fr;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  transition: background-color 0.2s ease-in-out;

  @include breakpoint-max($bp-screen-sm) {
    grid-template-columns: 1fr 0.2fr;
  }

  &:hover,
  &.active {
    background-color: $color-additional-light;
  }

  svg:last-child {
    justify-self: end;
  }

  > p:first-child {
    @include breakpoint-max($bp-screen-sm) {
      display: none;
    }
  }
}

.rowWrapper {
  align-items: center;
  display: flex;
  gap: 1.5rem;
}

.emails {

}

.shares {
  > p:not(:first-child) {
    background-color: $color-additional-medium;
    border-radius: 12px;
    color: $color-primary;
    margin-bottom: 0.5rem;
    padding: 0.2rem 0.5rem;
    width: fit-content;
  }
}
