@import "../../assets/styles/helpers/variables";
@import "../../assets/styles/helpers/mixins";

.info {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include breakpoint-max($bp-screen-lg) {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p {
    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.45rem;
    }
  }
}

.bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include breakpoint-max($bp-screen-xl) {
    flex-direction: column;
    gap: 1.5rem;
  }

  button:last-child {
    background-color: transparent;
    border: 1px solid $color-highlight;
    padding: 1rem;
    width: fit-content;

    svg {
      path {
        stroke: $color-highlight;
      }
    }

    p {
      color: $color-highlight;
    }

    &:hover {
      background-color: transparent;

      svg {
        path {
          stroke: $color-highlight;
        }
      }

      p {
        color: $color-highlight;
      }
    }
  }

  p {
    font-size: 1.45rem;

    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.3rem;
    }
  }
}

.tab {
  background-color: $color-secondary;
  border-radius: 15px 15px 0 0;
  padding: 2rem 2rem 1rem;
  width: fit-content;

  @include breakpoint-max($bp-screen-sm) {
    padding: 1.5rem 1.5rem 1rem;
  }

  > p:first-child {
    @include breakpoint-max($bp-screen-sm) {
      font-size: 1.6rem;
    }
  }
}

.wrapper {
  background-color: $color-secondary;
  border-radius: 0 15px 15px;
  height: 45%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 2rem 3rem;

  @include breakpoint-max($bp-screen-md) {
    padding: 2rem 1.5rem;
  }

  @include breakpoint-max($bp-vertical-680) {
    height: 35%;
  }

  @include breakpoint-max-vertical($bp-vertical-570) {
    height: 18%;
  }
}

.infoWrapper,
.right {
  @include breakpoint-max($bp-screen-xl) {
    width: 100%;
  }
}

.infoBlock {
  margin-bottom: 2.5rem;
}

.infoItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;

  > p:first-child {
    padding-right: 1rem;
  }
}

.right {
  .infoBlock:first-child {
    margin-bottom: 7.5rem;

    @include breakpoint-max($bp-screen-lg) {
      margin-bottom: 2.5rem;
    }
  }
}

.bottomItemLeft {
  width: 85%;

  @include breakpoint-max($bp-screen-xl) {
    width: 100%;
  }
}

.bottomItem {
  align-items: center;
  display: grid;
  grid-template-columns: 0.4fr 1fr;

  @include breakpoint-max($bp-screen-md) {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  > p:first-child {
    padding-right: 1.5rem;

    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.3rem;
    }
  }

  >p:nth-child(2) {
    flex-grow: 1;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
  }
}

.buttonRow {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
