@import "../../assets/styles/helpers/variables";
@import "../../assets/styles/helpers/mixins";

.tab {
  background-color: $color-secondary;
  border-radius: 15px 15px 0 0;
  padding: 2rem 2rem 1rem;
  width: fit-content;

  @include breakpoint-max($bp-screen-xl) {
    padding-bottom: 0;
  }
}

.wrapper {
  background-color: $color-secondary;
  border-radius: 0 15px 15px;
  height: 45%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 2rem 3rem;

  @include breakpoint-max($bp-screen-md) {
    padding: 2rem 1.5rem;
  }
}

.info {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include breakpoint-max($bp-screen-lg) {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p {
    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.45rem;
    }
  }
}

.infoWrapper,
.right {
  @include breakpoint-max($bp-screen-xl) {
    width: 100%;
  }
}

.infoBlock {
  margin-bottom: 2.5rem;
}

.bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include breakpoint-max($bp-screen-xl) {
    flex-direction: column;
    gap: 1.5rem;
  }

  button:last-child {
    padding: 1rem;
    width: fit-content;
  }

  p {
    font-size: 1.45rem;

    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.3rem;
    }
  }
}

.infoItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;

  > p:first-child {
    padding-right: 0.5rem;
  }
}

.right {
  .infoBlock:first-child {
    margin-bottom: 7.5rem;

    @include breakpoint-max($bp-screen-lg) {
      margin-bottom: 2.5rem;
    }
  }
}

.bottomItemLeft {
  width: 85%;

  @include breakpoint-max($bp-screen-xl) {
    width: 100%;
  }
}

.bottomItem {
  align-items: center;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;

  @include breakpoint-max($bp-screen-xl) {
    grid-template-columns: 0.5fr 1fr;
  }

  @include breakpoint-max($bp-screen-lg) {
    grid-template-columns: 0.8fr 1fr;
  }

  @include breakpoint-max($bp-screen-md) {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  > p:first-child {
    padding-right: 1.5rem;

    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.3rem;
    }
  }
}

.buttonRow {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
