@import "src/assets/styles/utils/constants";
@import "src/assets/styles/utils/mixins";

.preview {
  align-items: center;
  background-color: $color-black-000;
  border: 1px solid $color-black-200;
  border-radius: 1.5rem;
  cursor: pointer;
  display: flex;
  gap: 1.2rem;
  justify-content: space-between;
  margin-top: 3.2rem;
  max-width: calc(545px - 6.4rem - .2rem);
  padding: 2.4rem 3.2rem;

  @include breakpoint-max($bp-screen-sm) {
    padding: 1.2rem;
  }
}

.item {
  align-items: center;
  display: grid;
  gap: .8rem;
  grid-template-columns: .2fr 1fr;
  > p {
    margin: 0 auto;
    max-width: 26ch;
  }
}

.block {
  margin-top: 3.2rem;
  &__wrapper {
  }
  &__item {
    align-items: center;
    display: grid;
    gap: 3.6rem;
    grid-template-columns: .8fr 1fr;
    margin-bottom: .8rem;
    &:last-child {
      margin-bottom: 0;
    }
    &.did {
      p:last-child {
        max-width: 24ch;
        overflow: hidden;
        overflow-x: scroll;
      }
    }
  }
}

