@import "assets/styles/helpers/variables";
@import "assets/styles/helpers/mixins";

.buttonRow {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;

  svg {
    path {
      stroke: $color-highlight;
    }

    + p {
      margin: 0;
    }
  }
}

.loginPage {
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 55%;

  @include breakpoint-max($bp-screen-lg) {
    padding: 4rem 0 12rem;
    width: 100%;
  }

  @include breakpoint-max($bp-screen-sm) {
    justify-content: flex-start;
  }

  h1 {
    align-self: flex-start;
    margin-bottom: 4rem;

    + p {
      margin-bottom: 4rem;
    }
  }

  form {
    input[type="email"],
    input[type="password"],
    input[type="text"] {
      margin-bottom: 1.2rem;
      width: calc(100% - 5.4rem);
    }

    button + p {
      cursor: pointer;
      margin-top: 2rem;
      text-align: center;
    }

    div + p,
    input[type="email"] + p {
      margin-bottom: 1rem;
      margin-top: -0.8rem;
    }

    button {
      width: 100%;
    }
  }
}

.wrapper {
  padding: 0 8rem;

  @include breakpoint-max($bp-screen-xl) {
    padding: 4rem;
  }

  @include breakpoint-max($bp-screen-lg) {
    margin: 0 auto;
    width: 50%;
  }

  @include breakpoint-max($bp-screen-md) {
    width: 55%;
  }

  @include breakpoint-max($bp-screen-sm) {
    width: calc(100% - 8rem);
  }
}

.forgot {
  form {
    button:last-child {
      margin-top: 10rem;
    }
  }
}

.newPassword {
  @include breakpoint-max($bp-screen-lg) {
    padding: 4rem 0 5rem;
  }
}

.textRow {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.copyright {
  align-items: center;
  bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 90%;

  @include breakpoint-max($bp-screen-xl) {
    flex-direction: column;
    gap: 0.5rem;
  }

  @include breakpoint-max($bp-screen-lg) {
    flex-direction: row;
    gap: initial;
  }

  @include breakpoint-max($bp-screen-sm) {
    flex-direction: column-reverse;
    gap: 0.5rem;
  }
}
